<h1>Filmbook</h1>

<table>
 <!-- <thead>
    <tr>
      <th>Name</th>
      <th>Year</th>
      <th>Image</th>
      <th>Genre</th>
      <th>Director</th>
      <th>Actors</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
--!>
  <tbody>
    <% @films.each do |film| %>
      <tr>
        <td><%= image_tag(film.image, class: 'list_image') %></td>
        <td class="list_content"><%= truncate(strip_tags(film.content), length: 280) %></td>
				<td class="list_actions">
					<%= link_to 'Show', film %><br/>
          <%= link_to 'Edit', edit_film_path(film) %><br/>
					<%= link_to 'Destroy', film, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
      </tr>
			<tr>
        <td class="list_name"><%= film.name %></td>
			</tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Film', new_film_path %>
